<section id="blog">
  {% if page.website_page_photos.size > 0 %}
    <div id="blog-bg" attr-test="website_photo" style="background-image: url('{{ page.website_page_photos.first.image | attachment_url: \'public_big\' }}')"></div>
  {% else %}
    <div id="blog-bg" style="background-image: url( {{website_data.images[:blog_cover].first.image | attachment_url: 'public_big' }} )" ></div>
  {% endif %}
  <div class="row pad-large">
    <div class="large-7 columns push-5">
      <div class="page-title">
        <h2 class="lowlight">
          {{page.title}}<span class="highlight">.<span>
        </h2>
      </div>
      {{page.content}}
      {% if website_data.disqus_code %}
        {{website_data.disqus_code}}
      {% endif %}
    </div>
  </div>
</section>
